body {
    margin: 0px;
    text-align: center;
    background-color: #f4f9f4;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Quattrocento', serif;
    margin: 0px;
}

#myprofile {
    border-radius: 100%;
    margin-top: 20px;
    height: 150px;
}

.top-container{
    background-color: #5c8d89;
    height: 50px;
    margin: 0px 0px 0px 0px;
    
}

.skill-pics{
    height: 200px;
}